/*CHECKBOX SIZE STYLE*/
/* Customize the label (the checkbox-container) */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

label.checkbox-container {
    margin: 1em 2em;
    margin-bottom: 1.5em !important;
}

/*CARD STYLE OVERLOAD*/
.card .card-body {
    padding: 15px 15px 10px 3em !important;
}

.card label {
    font-size: 1em;
    margin-top: 12px;
    margin-bottom: 10px;
    color: #9A9A9A;
}

/*BUTTON SAVE STYLE*/
button.btn.btn-info {
    margin: 3em 0em;
    font-size: 1em;
}

/*ALERT BOX STYLE*/
.alert-box {
    color: #555;
    border-radius: 10px;
    font-family: Tahoma, Geneva, Arial, sans-serif;
    font-size: 14px;
    padding: 10px 10px 10px 36px;
    margin: 10px;
    cursor: pointer;
    position: relative;
}

.alert-box span {
    font-weight: bold;
    text-transform: uppercase;
}

.error {
    background: #ffecec /* url('assets/logo_thongbao/error.png') */ no-repeat 10px 50%;
    border: 1px solid #f5aca6;
}

.success {
    background: #e9ffd9 /* url("{{ asset('/assets/logo_thongbao/success.png') }}") */ no-repeat 10px 50%;
    border: 1px solid #a6ca8a;
}

/*Btn back*/
a.btn.back {
    background: firebrick;
}