.wrapper-cart {
    display: grid;
    grid-template-columns: 10% 15% 25% 15% 15% 10% 10%;
    color: #525151;
}
.wrapper-cart .left {
    grid-column: 2/5;
}
.wrapper-cart .left .title {
    font-weight: 900;
    line-height: 20px;
}
.wrapper-cart .left .hr {
    background-color: #ddd;
    height: 0.5px;
    width: 100%;
    margin-bottom: 30px;
}
.wrapper-cart .left .items .hr-2 {
    margin-bottom: 0 !important;
}
.wrapper-cart .left .wrapper-title {
    margin-top: -15px;
    margin-bottom: 5px;
    font-weight: 900;
}
.wrapper-cart .left .total {
    padding-left: 50px;
}
.wrapper-cart .left .items {
    margin-bottom: 20px;
}
.wrapper-cart .left .items .item-img {
    width: 120px;
    height: 100px;
}
.wrapper-cart .left .items .item-content {
    margin-top: -30px;
    margin-left: 28px;
}
.wrapper-cart .left .items .item-content .text {
    font-size: 11px;
    font-style: italic;
}
.wrapper-cart .left .dlt {
    font-size: 12px;
    color: #5198e4;
}
.wrapper-cart .left  .dlt:hover {
    cursor: pointer;
    color: blue;
}
.wrapper-cart .left .items .qty {
    padding-left: 50px;
}
.wrapper-cart .left .items .quant-input {
    width: 40px;
    height: 30px;
    border: 1px solid #aaa;
}
.wrapper-cart .left .items .qty-up {
    padding-top: 0;
    border: none;
    border-right: 1px solid #aaa;
    width: 20px;
    height: 20px;
    background-color: #fff;
}
.wrapper-cart .left .items .qty-down {
    margin-left: -3px;
    border-right: none !important;
}
.wrapper-cart .right {
    grid-column: 5/7;
    border: 1px solid #ddd;
    margin-top: 120px;
}
.wrapper-cart .right .title {
    font-weight: 900;
}
.wrapper-cart .right .hr {
    background-color: #ddd;
    height: 0.5px;
    margin: 0 15px;
}
.wrapper-cart .right .sub {
    flex-grow: 1;
}
.wrapper-cart .right .total {
    font-weight: 900;
}
.wrapper-cart .right .btn-checkout {
    background-color: #4a3b22;
    border: none;
    border-radius: 0;
    padding: 15px 30px;
    margin-left: 35px;
    width: 80%;
}
.wrapper-cart .right .btn-checkout:hover {
    background-color: #887759;
}
.wrapper-cart .right .app-coup {
    font-size: 16px;
    flex-grow: 1;
}
.wrapper-cart .right .down-icon {
    padding-top: 20px;
}
.wrapper-cart .right .input-coup {
    border: 1px solid #ddd;
    padding: 6px 10px;
    width: 80%;
    margin-left: 35px;
}
.wrapper-cart .right .btn-apply {
    background-color: #644a3b;
    border: none;
    border-radius: 0;
    padding: 10px 30px;
    margin-left: 35px;
    margin-top: 20px;
    width: 80%;
}
.wrapper-cart .right .btn-apply:hover {
    background-color: #88614a;
}

